.mainContainer {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}

.insideForm {
  display: flex;
  justify-content: space-between;
}

.optional {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.clickable {
  cursor: pointer;
}

.regBtn {
  align-self: flex-end;
}
