<mat-card>
  <mat-card-header>
    <mat-card-title>Order Car Rental</mat-card-title>
    <mat-card-subtitle>{{currCar.type.Manufacturer}} {{currCar.type.Model}}</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage [src]="currCar.image">
  <mat-card-content>
    <div class="sideBlock mat-elevation-z4">
      <div class="inlineDiv">
        <h4>Transmission:</h4> {{currCar.type.Transmission}}
      </div>
      <div class="inlineDiv">
        <h4>Daily Cost:</h4> {{currCar.type.DailyCost}} ILS
      </div>
      <div class="inlineDiv">
        <h4>Per day late Cost:</h4> {{currCar.type.DailyLateCost}} ILS
      </div>
    </div>
    <div class="sideBlock" [formGroup]="orderForm">
      <mat-form-field class="inlineDiv">
        <input matInput [matDatepicker]="startDatePicker" placeholder="Requested Start Date" [min]="today"
          formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="inlineDiv">
        <input matInput [matDatepicker]="endDatePicker" placeholder="Requested End Date" [min]="today"
          formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <div class="summary mat-elevation-z8">
        <div class="inlineDiv">
          <h3>Total Cost:</h3>
          <img *ngIf="rentPrice === 0" src="../../../assets/loader.gif" alt="">
          <span *ngIf="rentPrice > 0">&nbsp; {{rentPrice}} ILS </span>
        </div>
        <div class="inlineDiv">
          <h3>Availability:</h3>
          <img *ngIf="isAvailable == undefined" src="../../../assets/loader.gif" alt="">
          <img *ngIf="isAvailable" src="../../../assets/yes.png" alt="">
          <img *ngIf="isAvailable === false" src="../../../assets/no.png" alt="">
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button class="mat-elevation-z10" color="accent" (click)="checkIfAvailable()">Check Availability</button>
    <button mat-button class="mat-elevation-z10" color="accent" (click)="confirmOrder()"
      [disabled]="!isAvailable">Confirm Order</button>
  </mat-card-actions>
</mat-card>
