.inlineDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inlineDiv > h4 {
  width: 20%;
}

.mat-card-content {
 display: flex;
 flex-direction: row;
}

.sideBlock {
  width: 50%;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
