.mainContainer {
  width:100%;
}

.searchLine {
  width: 70%;
}

.criteria {
  width: 30%;
}

table {
  width: 100%;
}

td > img {
  height: 150px;
  width: 200px;
}

tr.example-detail-row {
  height: 0;
}

.car-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.car-detail {
  overflow: hidden;
  display: flex;
}

tr.car-row:not(.expanded-row):hover {
  background: #9b6666;
}

tr.car-row:not(.expanded-row):active {
  background: #9b6666;
}

.extra-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
}

.orderBtn {
  height: 40px;
  width: 120px;
}
