<div class="mainContainer">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Browse our car selection</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-form-field class="searchLine">
        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search...">
      </mat-form-field>
      <mat-form-field class="criteria">
        <mat-label>Search by</mat-label>
        <mat-select>
          <mat-option
          *ngFor="let criteria of searchCriteria; index as i"
          [value]="searchCriteria[i]">
            {{criteria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <table mat-table
      [dataSource]="dataSource" multiTemplateDataRows
      class="mat-elevation-z8">
 <ng-container matColumnDef="Image">
   <th mat-header-cell *matHeaderCellDef>Image</th>
   <td mat-cell *matCellDef="let car"> <img [src]="car.image" alt=""> </td>
 </ng-container>

 <ng-container matColumnDef="Manufacturer">
  <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
  <td mat-cell *matCellDef="let car"> {{car.type.Manufacturer}} </td>
</ng-container>

<ng-container matColumnDef="Model and Year">
  <th mat-header-cell *matHeaderCellDef>Model and year</th>
  <td mat-cell *matCellDef="let car"> {{car.type.Model}} , {{car.type.ModelYear}} </td>
</ng-container>

 <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let car">
     <div class="car-detail"
          [@detailExpand]="car == expandedCar ? 'expanded' : 'collapsed'">
       <div class="extra-detail">
         <div>
         <h3>Daily Cost : {{car.type.DailyCost}} ILS</h3>
         <h3>Transmission: {{car.type.Transmission}}</h3>
        </div>
        <button mat-button color="accent" class="mat-elevation-z10 orderBtn">Order</button>
       </div>
     </div>
   </td>
 </ng-container>

 <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
 <tr mat-row *matRowDef="let car; columns: columnsToDisplay;"
     class="car-row"
     [class.expanded-row]="expandedCar === car"
     (click)="expandedCar = expandedCar === car ? null : car">
 </tr>
 <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
    </mat-card-content>
  </mat-card>
</div>
