.flexible {
  flex: 1 1 auto;
  flex-direction: row;
  width: 100%;
}

input {
  margin-top: 5%;
  min-width: 244px;
}

.visiBtn {
  justify-self: right;
}

img {
  top: 2px;
  width: 25%;
}

.loggedInContainer {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
  font-size: 12px;
}

.userContainer {
  display: block;
  max-width: 120px;
  float: left;
  top: 2px;
  font-size: 12px;
}

.userContainer > * {
  display: block;
}

.outBtn {
  top: 10px;
}
