.flexible {
  flex: 1 1 auto;
  flex-direction: row;
  width: 100%;
}

input {
  margin-top: 5%;
  min-width: 244px;
}

.visiBtn {
  justify-self: right;
}

img {
  width: 25%;
}

.loggedInContainer {
  display: flex;
  flex: 1 1 auto;
  width: 50%;
  font-size: 12px;
}

.userContainer {
  display: flex;
  flex-direction: column;
}
